body{
    background-color: gold;
}
h1{
    color: red;
    font-size: 40%;
    text-align: center;
}
p{  
    color: blue;
    font-size: 40%;
    text-align: center;}

    #imagem{
        width: 100%;
        height: 20%;
        border: 2px solid red;
    }
   .itens{
      font-style: italic;
      text-align: left;
   } 
   .benefios{
       background-color: white;
     font-size: 25px;
    
    }
    h2{
        text-align: left;
    }

    ul{
    display:inline-block
    vertical-align: top;
    margin: 3%;
    list-style: circle
    ;}
